$headerMenuHeight: 80px;
$mainOrangeColor: #FFC800;
$mainDarkPurpleColor: #43296C;
$mainMediumPurpleColor:#5F2E8F;
$mainBrightPurpleColor: #7650B2;
$lightPurpleColor:#9F86B2;
$lightGrayVioletColor:#E1DCE7;
$mainMediumGreyColor: #878c96;
$fontPoppinsMedium: poppinsMedium, sans-serif;
$footerHeight: 670px;