@import "../variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
.academyBlockWrapper{
  padding: 160px 0 140px 0;
  background: url("../img/academyBlockBg.png") no-repeat top;
  .academyBlock{

    .academyBlock__info{
      display: inline-block;
      max-width: 500px;
      .academyBlock__topic{
        margin: 0 0 35px 0;
      }
      .academyBlock__academyLogo{
        display: inline-block;
        width: 70px;
        height: 70px;
        background: url("../img/icons/academyLogo.png") no-repeat center;
        background-size: contain;
      }
      .academyBlock__heading{
        margin: 0 0 40px 20px;
        display: inline-block;
        max-width: 340px;
      }
      .academyBlock__subtitle{
        margin: 0 0 45px 0;
        max-width: 400px;
      }
    }
    .academyBlock__carouselWrapper{
      display: inline-block;
      width: 600px;
      text-align: center;
      vertical-align: top;
      min-height: 415px;
      margin: 0 0 0 100px;
      float: right;
      .academyBlock__carousel{
        display: inline-block;
        width: 420px;
        height: 360px;
        vertical-align: top;
        border: 1px solid $lightGrayVioletColor;
        text-align: left;
        padding: 35px;
        .academyBlock__carouselIndicators{
          bottom: -70px;
          .academyBlock__carouselIndicatorsItem{
            background: $lightGrayVioletColor;
            width: 9px;
            height: 9px;
            border-radius: 100%;
            margin: 0 5px 0 0;
            border: none;
            &.active{
              background: $mainBrightPurpleColor;
            }
          }
        }
        .academyBlock__carouselList{
          height: 100%;
          .academyBlock__carouselItem{
            height: 100%;
            position: relative;
            .academyBlock__reviewAuthor {
              margin: 0;
              &:after {
                content: '';
                vertical-align: middle;
                display: inline-block;
                height: 100%;
              }
              .academyBlock__reviewAuthorImg {
                display: inline-block;
                height: 40px;
                width: 40px;
                vertical-align: middle;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 100%;
                background-size: cover;
                margin: 0 10px 0 0;
              }
              .academyBlock__reviewAuthorName {
                display: inline-block;
                vertical-align: middle;
                color: $mainMediumPurpleColor;
              }
            }
            .academyBlock__reviewTraining{
              position: absolute;
              bottom: 0;
            }
          }
          .academyBlock__reviewText{
            margin: 55px 0 0 0;
            color: $mainMediumPurpleColor;
            font-size: 20px;
          }
          .academyBlock__reviewTraining{
            font-size: 11px;
            font-family: poppinsRegular, sans-serif;
            .academyBlock__reviewTrainingTitle{
              color: $mainBrightPurpleColor;
            }
            .academyBlock__reviewTrainingBranch{
              color: $mainDarkPurpleColor;
            }
          }
        }
        .academyBlock__carouselControl{
          display: inline-block;
          position: absolute;
          width: 50px;
          height: 50px;
          background: $mainMediumPurpleColor;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 100%;
          opacity: 1;
          .academyBlock__carouselPrevIc, .academyBlock__carouselNextIc{
            display: inline-block;
            position: absolute;
            margin: 0;
            top: 50%;
            left: 50%;
            right: 0;
            bottom: 0;
            transform: translate(-50%,-50%);
            width: 17px;
            height: 17px;
            background: url("../img/icons/arrowPrevNext.png") no-repeat;
            background-size: auto 100%;
            &:before{
              content: none;
            }
          }
          .academyBlock__carouselPrevIc{
            background-position: 0 0;
          }
          .academyBlock__carouselNextIc{
            background-position: -13px 0;
          }
        }
        .academyBlock__carouselControl.left{
          left: -90px;
        }
        .academyBlock__carouselControl.right{
          right: -90px;
        }
      }
    }
  }
}
@include media-breakpoint-down(lg){
  .academyBlock__info {
    width: 40% !important;
    float: left !important;
    .academyBlock__academyLogo {
      width: 15% !important;
      padding-top: 15% !important;
      height: 0 !important;
      float: left !important;
    }
    .academyBlock__heading {
      float: left !important;
      max-width: 80% !important;
      margin: 0 0 40px 5% !important;
    }
  }
  .academyBlock__carouselWrapper {
    width: 45% !important;
    margin: 0 5% 0 10% !important;
    position: relative !important;
    float: none !important;
    .academyBlock__carousel {
      width: 90% !important;
      position: static !important;
      .academyBlock__carouselControl {
        &.left{
          left: -50px !important;
        }
        &.right{
          right: -50px !important;
        }
      }
    }
  }
}
@include media-breakpoint-down(md){
   .academyBlock__info {
     max-width: none !important;
     width: 100% !important;
     float: none !important;
     text-align: center;
     .academyBlock__academyLogo {
       width: 100% !important;
       padding-top: 0 !important;
       height: 70px !important;
       margin: 0 0 20px 0 !important;
       background-size: 70px !important;
     }
     .academyBlock__heading {
       float: none !important;
       max-width: none !important;
       width: 100% !important;
       margin: 0 0 40px 0 !important;
       font-size: 26px !important;
     }
     .academyBlock__subtitle {
       margin: 0 auto 45px auto !important;
     }
     .academyBlock__moreButton{
       display: none;
     }
   }
   .academyBlock__carouselWrapper {
     width: 100% !important;
     margin: 0 !important;
     padding: 0 60px !important;
     min-height: auto !important;
     .academyBlock__carousel {
       width: 100% !important;
       height: auto !important;
       padding: 20px 15px 50px 15px !important;
       .academyBlock__carouselControl {
         &.left{
           left: 0 !important;
         }
         &.right{
           right: 0 !important;
         }
       }
       .academyBlock__carouselList {
         position: static !important;
         .academyBlock__reviewText {
           font-size: 18px !important;
           margin: 25px 0 0 0 !important;
         }
         .academyBlock__carouselItem {
           position: static !important;
           .academyBlock__reviewTraining {
             margin-bottom: 20px !important;
             width: 100% !important;
             left: 0 !important;
             padding: 0 75px !important;
           }
         }
       }
     }
   }
 }
@include media-breakpoint-down(sm){

  .academyBlock__carouselWrapper {
    min-height: auto !important;
    .academyBlock__carousel {
      height: auto !important;
      .academyBlock__carouselList {
        position: static !important;
        .academyBlock__reviewText {
          font-size: 14px !important;
        }
      }
    }
  }
}
@include media-breakpoint-down(xs){
  .academyBlock__carouselWrapper {
    .academyBlock__carousel {
      padding: 20px 15px 80px 15px !important;
      .academyBlock__carouselList {
        .academyBlock__carouselItem {
          .academyBlock__reviewAuthor {
            .academyBlock__reviewAuthorImg {
              display: none !important;
            }
          }
        }
      }
    }
  }
}