.contactsBlockWrapper {
  padding: 160px 0 0;
  background: url("../img/contactsBlockBg.png") no-repeat center, #fbf9fb;
}

.contactsBlockWrapper .contactsBlock {
  padding: 0 0 50px;
  text-align: center;
}

.contactsBlockWrapper .contactsBlock .contactsBlock__topic {
  color: #7650B2;
}

.contactsBlockWrapper .contactsBlock .contactsBlock__heading {
  margin: 20px 0 0;
}

.contactsBlockWrapper .contactsBlock .contactsBlock__text {
  color: #9F86B2;
  margin: 35px 0 0;
}

.contactsBlockWrapper .contactsBlock .contactsBlock__contactsButton {
  margin: 60px 0 0;
  width: 230px;
}

.contactsBlockWrapper .contactsBlock .contactsBlock__contactsButton .contactsBlock__contactsButtonTitle:after {
  width: 17px;
  height: 17px;
  background: url(../img/icons/contactsBtnIc.png) no-repeat center;
  background-size: contain;
}
